---
# homepage page style
---

@import "variables";

.logo-ugap {
  width: 25rem;
  margin: auto;
  img {
    height: 100%;
    width: 100%;
  }
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

#contact-ugap {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  span {
    display: block;
  }
  img {
    width: 3rem;
  }
}
#icon-malentendants {
  width: 2rem;
}

.accompagnement-choices {
  .links {
    border-radius: 0;
    margin-bottom: -0.5rem;
    cursor: pointer;
    max-width: 70%;
    font-weight: bold;
    background: $bleu;
    color: #fff;
    padding: 1rem;
    z-index: 1;
    &:hover {
      text-decoration: none;
    }
  }
  .dark-gray {
    background: #EEE;
    padding: 1rem;
    flex: 1;
    z-index: -1;
    margin-left: 1rem;
  }
  .row-choice {
    display: flex;
  }
  .time {
    color: $gray;
    flex: 0 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.row-procedure {
  .cols-procedure {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
    h5 {
      margin-bottom: 1rem;
    }
  }
}

.price {
  color: white;
  padding: 0.8rem;
  background-color: $bleu;
}

.kit-cadrage {
  text-align: center;
  font-size: 5rem;
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  width: 8rem;
  height: 8rem;
  margin: auto;
  i {
    font-size: 5rem;
  }
}

.meta {
  font-size: 0.7rem;
}
