---
# Homepage pages style
---

@import "variables";

#catalogue {
  .mailto-link {
    font-size: 2rem;
  }
}

.btn-add-consutlation {
  a {
    color: white;
    text-decoration: none;
  }
}

.btn-consultation-over {
	color: red;
}

.btn-consultation-ongoing {
	color: green;
}