---
# Homepage pages style
---

@import "variables";


#bandeau-notifications {
  background-color: $rouge;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  img {
    height: 4rem;
  }
}

#bandeau-recherche {
  background-color: $bleu;
  padding: 3rem 4rem;
  h2 {
    margin-bottom: 2rem;
    color: white;
  }
  #barre-recherche {
    position: relative;
    color: $gray;
    #search {
      height: 6rem;
      width: 100%;
      font-size: 1.4rem;
      padding-left: 4rem;
    }
    .fa-search {
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-size: 2rem;
    }
  }
}

.citoyen-card {
  .card {
    height: 100%;
    border: 1px solid #cecece;
    padding: 1rem;
    h5 {
      a {
        color: $bleu;
        font-weight: bold;
      }
    }
    .image {
      height: 100%;
      width: 100%;
      background-size: contain !important;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 7rem;
    }
    .card-body {
      position: relative;
    }
    .fa-heart {
      background: rgba(50, 50, 50, 0.40);
      color: white;
      padding: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
