---
# Homepage pages style
---

@import "variables";

#cgu {
    padding-top: 12%;
    padding-bottom: 8%;

    h1{
      color: $simulation-color;
      text-align: center;
      font-size: 220%;
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 400;
    padding: 0 0 1em;
    }
    h2 {
      color: $simulation-color;
    }
   
    ul li {
      padding: 0 0 1em;
      line-height: 1.5em;
    }
}