---
# Homepage pages style
---

@import "variables";
@import "usage";

h1 {
  font-size: 1.5rem;
}

#banniere-contact {
  margin-top: 3rem;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('/img/banner-home2.png');
  height: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 4rem;
    color: white;
  }
  .logo-telephone {
    background: white;
    color: black;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-right: 1rem;
  }
}

h3 {
  font-size: 2rem;
  margin: 3rem 0;
}

.ligne-contact {
  padding: 1rem;
  display: flex;
  align-items: center;
  h4 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .col-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .bouton {
      color: white;
      background-color: $bleu;
      margin-top: 1rem;
      padding: 1rem;
      border-radius: 30px;
      text-align: center;
    }
  }
  ul {
    list-style: none;
  }
  .icons {
    height: 8rem;
  }
}

h5 {
  font-size: 2rem;
  margin: 2rem
}

.carousel {
  height: 20rem;
  .carousel-inner {
    height: 100%;
  }
  .carousel-item {
    font-size: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
