---
# Homepage pages style
---

@import "variables";
@import "usage";


@media ( max-width: 768px ) {
#contact{
padding-top: 30% !important;
}
}


#contact {
  padding: 10% 0 10%;
  .ui.card .meta, .ui.cards>.card .meta {
    color: $simulation-color;
  }
  h1{
    text-transform: uppercase;
    color: $simulation-color;
   
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
  }

  .ui.card, .ui.cards>.card {
    border: solid 1px $simulation-color;
    box-shadow: none;
  }

  #contact-details {
    text-align: center;
    padding: 3em 0 1em;
  }

  h2:first-child {
    padding-bottom: 2em;
  }
  
  h2 {
    color: $simulation-color;    
    letter-spacing: 2px;
    text-align: center;
     padding: 2em 0 0.5em;
  }
  p{
    font-size: 120%;
    line-height: 2em;
    letter-spacing: 1.5px;
  }
  .button.moreButton {
    color: #fff;
    background: $simulation-color;
    margin: auto;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1.5em 1em;
    margin: 1em;
  }

  .button.moreButton2 {
    color: $simulation-color;
    background: #fff;
    margin: auto;
    text-transform: uppercase;
    font-weight: 300;
    border: solid 2px $simulation-color;
    padding: 1.5em 1em;
    margin: 1em;
  }

}