---
# Homepage pages style
---

@import "variables";
@import "usage";

h1 {
  font-size: 1.5rem;
}

#banniere-contact {
  margin-top: 3rem;
  color: white;
  height: 7rem;
  background-color: $bleu;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    text-decoration: none;
  }
  h2 {
    font-size: 4rem;
    color: white;
  }
  
  .logo-telephone {
    background: white;
    color: black;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-right: 1rem;
  }
}

h3 {
  font-size: 2rem;
  margin: 3rem 0;
}

.ligne-contact {
  padding: 1rem;
  display: flex;
  align-items: center;
  h4 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .col-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .bouton {
      color: white;
      background-color: $bleu;
      margin-top: 1rem;
      padding: 1rem;
      border-radius: 30px;
      text-align: center;
    }
  }
  ul {
    list-style: none;
  }
  .icons {
    height: 8rem;
  }
}

h5 {
  font-size: 2rem;
  margin: 2rem
}

.col-contact {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 20%;
  padding: 2rem 0.5rem;
  i {
    font-size: 3rem;
    color: $bleu;
  }
  .macontribution {
    font-weight: bold;
    a {
      color: $rouge;
    }
    img {
      width: 2rem;
    }
  }
  img {
    width: 7rem
  }
  @media ( max-width: 700px ) {
    flex: 1 1 50%;
  }
}


