---
# Homepage pages style
---

@import "variables";

#criteres {
  .far {
    font-size: 2rem;
    color: $bleu;
  }
  button {
    text-align: left;
    &:hover, &:active, &:focus {
      text-decoration: none;
      background-color: #F7F7F7;
      box-shadow: none;
      outline: none;
    }
    i {
      font-size: 2rem;
    }
  }
  .letters {
    width: 100%;
  }
}
#etalabel {
  img {
    width: 4rem;
  }
  h5 {
    display: inline;
  }
}
