---
# Homepage pages style
---

@import "variables";

.home-section {
  .section-title {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    span {
      color: $simulation-color;
      font-size: 1.3em;
      margin-left: 1em;
    }
  }
  h2 {
    font-weight: normal;
    font-size: 2.6em;
    color: $black;
    margin: 0;
    @media (max-width: 1000px) {
      font-size: 2em;
    }
  }
  p {
    margin-top: 1.5em;
    margin-bottom: 3em;
    font-size: 1.2em;
  }
  .fa-file-download {
    font-size: 4em;
    margin-bottom: 0.3em;
  }
  img {
    height: 16em;
  }
}

.home-contact {
  padding: 3em 5rem;
  p {
    margin-bottom: 0;
  }
}

.home-head {
  color: white;
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('/img/test-home.png');
  background-size: cover;
  height: 25rem;
  .title {
    height: 100%;
  }
  h1 {
    font-size: 2.4em;
    text-align: center;
    margin-bottom: 0;
  }
  p {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.container-kit-cadrage {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.kit-cadrage {
  background-color: #EEEEEE;
  border-radius: 50%;
  height: 13.5em;
  width: 13.5em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em;
}
