---
# Homepage pages style
---

@import "variables";
@import "usage";


@media ( max-width: 768px ) {

#beta
body:after{
  content: "page";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #EE8E4A;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
	
#mission-statement {
padding-top: 30% !important;
}
}

#mission-statement {
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.4)),url('/img/flying-bees.jpg');
  background-size: cover;
  background-position: center top;
  color: #fff;
  font-size: 115%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 8%;


  .input {
    min-width: 60%;
    margin-bottom: 3%
 }

  h1 {
    padding: .2em 0;
    color: #fff;
    font-size: 200%;
    line-height: 1.8;
  }

  h3 {
    font-weight: 500;
    max-width: 900px; 
    margin: auto;
    padding: 0 0 3em;
    line-height: 2.5rem;
  }

  .header-with-image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 3em;
    }
  }

  .results {
    width: 100%;

    .searchError {
      margin-top: 1em;
    }

    .result-highlight {
      font-weight: 600;
      color: black;
    }
  }

  .poweredBy {
    font-size: 95%;
    padding: 0.5em;
    text-align: right;
    img {
      height: 1em;
      position: relative;
      top: 0.2em;
    }
  }
}



section {
  padding: 5% 0;

  h2 {
    text-align: left;
    color: $simulation-color;
  }
}

section#home-des {
p {
  line-height: 2rem;
}
}

#description {

  .header.padded {
    margin: 2em 0 1em 0;
  }
}

p.buttonContainer {
  text-align: center;
}

a.ui.button.moreButton {
  background-color: $simulation-color;
  color: #fff;
  text-shadow: none;
  background-image: none;
  padding: 15px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:hover {
    background-color: darken($simulation-color, 5%)
  }
}

a.ui.big.button.moreButton {
  margin-top: 4%;
}

@media (max-width: 768px) {
	.header-with-image {
		flex-direction: column;
	}

  #mission-statement .header-with-image img {
    width: 30%;
    margin: 0;
  }

  #mission-statement h1 {
    padding: 0 10px;
    margin-top: 10px;
    font-size: 1.3em;
  }
}

section#usages {
  background-color: $simulation-color;
  padding-bottom: 8em;
    h2{
      text-align: center;
      color: #fff;
    }
}

.home-illustration {
  max-width: 250px;
  margin: auto;
  display: block;
} 

.top-icons {
  width : 100px;
  margin: auto;
  padding: 0 0 1em;
}
