---
# Homepage pages style
---

@import "variables";


#title {
  color: $vert;
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
  }
}

#catalogue {
  .mailto-link {
    font-size: 2rem;
  }
}

.ligne-dispositifs {
  height: 12rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  h3 {
    color: white;
    margin: 2rem;
  }
}

#grand-debat {
  background-image: url("/img/banner-home2.png");
}
#retraites {
  background-image: url("/img/banniere-retraites.png");
}
#revenu-universel {
  background-color: $bleu-vert;
}

.btn-consultation-over {
	color: red;
}

.btn-consultation-ongoing {
	color: green;
}

.iframe-container {
	overflow: hidden
}

.iframe-container iframe {
	height: 100%
}
