---
# Main pages style
---

@import "variables";
@import "buttons";
@import "cards";
@import "support";
@import "utilities";
@import url('https://fonts.googleapis.com/css?family=Courgette|Montserrat:200,400,700&display=swap');


@mixin picto($url) {
		display: inline-block;
		width: 200px;
		height: 200px;
		margin-left: -200px;
		position: absolute;
		content: "";
		background:  url($url) no-repeat left 60%;
		background-size: 100%;
}

body {
  font-family: Montserrat, Verdana, sans-serif;
  font-weight: 500;
}

a {
  color: $vert;
  &:hover {
    color: $bleu;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $violet;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.gray-background {
  background-color: $gray-background;
}

.purple-background {
  background-color: $violet-pale;
}

.light-gray {
  color: #929292;
}

.fs-2 {
  font-size: 2rem;
}

.row {
  width: 100%;
  margin: auto;
}

#wrapper, header {
  position: relative;
  width: 70%;
  margin: auto;
  @media ( max-width: 1400px ) {
    width: 80%;
  }
  @media ( max-width: 1200px ) {
    width: 100%;
  }
}

@media ( max-width: 768px ) {
  #mission-statement{
    padding-top: 30% !important;
  }
}

header {
  box-shadow: 0px 20px 38px -1px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
  z-index: 20;
  top: 0;
  nav {
    padding: 1em;
    display: flex;
    align-items: center;
    .right {
      flex-grow: inherit;
      text-align: right;
      padding-right: 1em;
    }
    .pipe {
      margin: 0 0.5em;
      color: $bleu !important;
      font-size: 1.1rem !important;
    }
    .site-name {
      font-size: 1.5em;
      font-family: Courgette, Georgia, sans-serif;
    }
    .text {
      margin-left: 1em;
    }
    .logo-telephone {
      font-size: 2rem;
      padding: 0 1rem;
    }
  }
  .navbar-nav a {
    color: $bleu !important;
    font-size: 1.1rem !important;
    padding: 0 !important;
    margin: 0 !important;
    &:hover {
      color: $bleu;
    }
  }

  .div-titre {
    flex: 1 1 auto;
  }

  #menu-haut {
    background: $violet;
    a {
      font-size: 1.5rem;
      color: white;
    }
  }

  .autres-liens {
    font-size: 0.9rem;
    div {
      width: 100%;
    }
    a {
      color: $bleu;
    }
    i {
      color: $black;
    }
    img {
      height: 3rem;
      padding: 0 1rem;
    }
  }

.menu {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media ( max-width: 850px ) {
.menu .item, {
	display: none !important;
}
}

  @media ( max-width: 550px ) {
    #header-marianne {
      display: none;
    }
    #header-logo {
      max-width: 80%;
    }
  }
}

footer {
  img, svg {
    max-width: 90%;
  }
  .etalab {
    width: 10rem;
  }
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}

@media (max-width: 30em) {
	.medium.screen.only {
		display: none !important;
	}
}

.nav-tabs {
  font-size: 1.3rem;
  border-bottom: 1px solid $bleu;
}
.tab-content {
  width: 100%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: $bleu $bleu #ffffff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: $bleu $bleu #ffffff;
}

#bandeau-beta {
  max-width: 11rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
