---
# Main pages style
---

@import "variables";
@import "buttons";
@import "cards";
@import "support";

@mixin picto($url) {
		display: inline-block;
		width: 200px;
		height: 200px;
		margin-left: -200px;
		position: absolute;
		content: "";
		background:  url($url) no-repeat left 60%;
		background-size: 100%;
}

body {
  font-family: Lato, sans-serif;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.gray-background {
  background-color: $gray-background;
}

.blue {
  color: $simulation-color;
}

.row {
  width: 100%;
  margin: auto;
}

#wrapper, header {
  width: 70%;
  margin: auto;
  @media ( max-width: 1400px ) {
    width: 80%;
  }
  @media ( max-width: 1200px ) {
    width: 100%;
  }
}

@media ( max-width: 768px ) {
  #mission-statement{
    padding-top: 30% !important;
  }
}

header {
  box-shadow: 0px 20px 38px -1px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
  z-index: 2;
  top: 0;
  nav {
    padding: 1em;
    display: flex;
    align-items: center;
    .right {
      flex-grow: inherit;
      text-align: right;
      padding-right: 1em;
    }
    .pipe {
      margin: 0 0.5em;
      color: $simulation-color !important;
      font-size: 1.3em !important;
    }
    .site-name {
      font-size: 1.5em;
    }
    .text {
      margin-left: 1em;
    }
  }
  .navbar-nav a {
    color: $simulation-color !important;
    font-size: 1.3em !important;
    padding: 0 !important;
    margin: 0 !important;
    &:hover {
      color: $simulation-color;
    }
  }

.menu {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media ( max-width: 850px ) {
.menu .item, {
	display: none !important;
}
}

  @media ( max-width: 550px ) {
    #header-marianne {
      display: none;
    }
    #header-logo {
      max-width: 80%;
    }
  }
}

footer {
  img, svg {
    width: 60%;
  }
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}

@media (max-width: 30em) {
	.medium.screen.only {
		display: none !important;
	}
}

.nav-tabs {
  font-size: 1.3rem;
  border-bottom: 1px solid $simulation-color;
}
.tab-content {
  width: 100%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #28A7D0 #28A7D0 #ffffff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #28A7D0 #28A7D0 #ffffff;
}

#bandeau-beta {
  max-width: 11rem;
  position: absolute;
  bottom: 0;
  right: 0;
}