---
# Main pages style
---

@import "variables";
@import "buttons";
@import "cards";

@mixin picto($url) {
		display: inline-block;
		width: 200px;
		height: 200px;
		margin-left: -200px;
		position: absolute;
		content: "";
		background:  url($url) no-repeat left 60%;
		background-size: 100%;
}

body {
  font-family: Lato, sans-serif;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.gray-background {
  background-color: $gray-background;
}

.blue {
  color: $simulation-color;
}

.row {
  width: 100%;
  margin: auto;
}

#wrapper, header {
  width: 70%;
  margin: auto;
  @media ( max-width: 1400px ) {
    width: 80%;
  }
  @media ( max-width: 1200px ) {
    width: 100%;
  }
}

@media ( max-width: 768px ) {
  #mission-statement{
    padding-top: 30% !important;
  }
}
//#page {
//
//	main {
//		&#bonnes-pratiques {
//		& >	.container::before {
//                @include picto("/img/illu-comment-faire.png");
//			}
//		}
//		&#pourquoi-outils {
//		& >	.container::before {
//                @include picto("/img/illu-pourquoi-outils.png");
//			}
//		}
//		&#comment-utiliser {
//		& >	.container::before {
//                @include picto("/img/illu-comment-utiliser.png");
//			}
//		}
//	}
//}

header {
  box-shadow: 0px 20px 38px -1px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
  z-index: 2;
  top: 0;
  nav {
    padding: 1em;
    display: flex;
    align-items: center;
    .right {
      flex-grow: inherit;
      text-align: right;
      padding-right: 1em;
    }
    .pipe {
      margin: 0 0.5em;
      color: $simulation-color !important;
      font-size: 1.3em !important;
    }
    .site-name {
      font-size: 1.5em;
    }
    .text {
      margin-left: 1em;
    }
  }
  .navbar-nav a {
    color: $simulation-color !important;
    font-size: 1.3em !important;
    padding: 0 !important;
    margin: 0 !important;
    &:hover {
      color: $simulation-color;
    }
  }

.menu {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ui.dropdown>.dropdown.icon {
	margin: 0 .5em;
	color: $simulation-color;
	font-size: 1.3rem;
}

@media ( max-width: 850px ) {
.menu .item, {
	display: none !important;
}

.ui.menu .ui.dropdown .menu>.item {
	display: block !important;
}
.ui.dropdown>.text {
	color: $simulation-color;
	font-weight: 300;
	font-size: 120%;
}
}

  @media ( max-width: 550px ) {
    #header-marianne {
      display: none;
    }
    #header-logo {
      max-width: 80%;
    }
  }
}

.ui.tiny.label {
	margin-bottom: 2px;
}

footer {
  img, svg {
    width: 60%;
  }
}
.ui.image img {
    margin: auto;
    padding: 0.5em 0;
}
.ui.card, .ui.cards {
    & > .image.visual {
        height: 140px;
        display: block;
        overflow: hidden;
        vertical-align: middle;
        text-align: center;
        position: relative;
        & > img {
            height: auto;
            width: inherit;
            min-width: auto;
            max-height: 55%;
            max-width: 55%;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
      }
    }
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}

@media (max-width: 30em) {
	.medium.screen.only {
		display: none !important;
	}
}
