---
# Main pages style
---

@import "variables";
@import "buttons";
@import "cards";
@import "support";
@import "utilities";
@import url('https://fonts.googleapis.com/css?family=Courgette|Montserrat:200,400,700&display=swap');

body {
  font-family: Montserrat, Verdana, sans-serif;
  font-weight: 500;
}

header {
  margin: 0;
  padding: 0 1rem;
}

a {
  color: $bleu;
  &:hover {
  color: $vert;
  }
}

.row {
  width: 100%;
  margin: auto;
}

#wrapper {
  min-height: 100%;
  position: relative;
  width: 70%;
  margin: auto;
  @media ( max-width: 1400px ) {
    width: 80%;
  }
  @media ( max-width: 1200px ) {
    width: 100%;
  }
}

.navbar {
  font-family: Courgette, Georgia, sans-serif;
  font-size: 3.5rem;
  height: 8rem;
  #titre {
    margin-top: 0.7rem;
  }
  #megaphone {
    height: 9rem;
  }
  #header-marianne {
    height: 100%;
  }
  @media ( max-width: 1200px ) {
    height: auto;
    #header-marianne {
      height: 6rem;
    }
    #megaphone {
      height: 6rem;
    }
  }
}

#bandeau-beta {
  max-width: 11rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

footer {
  margin-top: 3rem;
  text-align: center;
  border-top: solid 1px $gray;
  padding: 2rem 0;
  img {
    width: 100%;
  }
  #logo-ministere {
    width: 9rem;
    @media ( $small ) {
      width: 4rem;
    }
  }
  a {
    padding: 0 1rem;
    color: black;
    &:hover {
      color: $black;
    }
  }
  .liens-externes {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}
