---
# Homepage pages style
---

@import "variables";
@import "usage";

.col-img {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 60%;
  }
}

#banniere-contact {
  margin-top: 3rem;
  color: white;
  height: 7rem;
  background-color: $bleu;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    text-decoration: none;
  }
  h2 {
    font-size: 4rem;
    color: white;
  }
  
  .logo-telephone {
    background: white;
    color: black;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-right: 1rem;
  }
}