---
# Homepage pages style
---

@import "variables";

#bandeau-recherche {
  padding: 1rem 4rem;
  #barre-recherche {
    position: relative;
    color: $gray;
    #search {
      background-color: $violet;
      color: white;
      height: 6rem;
      width: 100%;
      font-size: 1.4rem;
      padding-left: 4rem;
    }
    .fa-search {
      color: white;
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-size: 2rem;
    }
  }
}

.form-control {
  background-color: $violet;
  color: white;
  &::placeholder {
    color: white;
  }
}

