---
# Homepage pages style
---

@import "variables";

#bandeau-recherche {
  padding: 1rem 4rem;
  h2 {
    margin-bottom: 2rem;
    color: white;
  }
  #barre-recherche {
    position: relative;
    color: $gray;
    #search {
      height: 6rem;
      width: 100%;
      font-size: 1.4rem;
      padding-left: 4rem;
    }
    .fa-search {
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-size: 2rem;
    }
  }
}
