---
# API pages style
---

@import "variables";

#row-head-page {
  background: $violet;
  h1 {
    color: white;
  }
}

.carousel {
  background-color: $violet-pale;
  width: 100%;
  height: 20rem;
  .img-carousel {
    height: 18rem;
    margin-top: 1rem;
  }
}
