---
# Homepage pages style
---

@import "variables";



.row-consultation {
  p {
    font-size: 1.3rem;
    margin: 0;
  }
  .links-consultation {
    flex: 1 0 30%;
    text-align: center;
  }
  .important-link {
    font-size: 1.7rem;
  }
}