---
# Homepage pages style
---

@import "variables";

.row-icons {
  background-color: $smartData-color;
  color: #ffffff;
  i {
    font-size: 7rem;
  }
  p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

.row-support {
  border: 2px solid black;
  border-radius: 10px;
  i {
    font-size: 4rem;
  }
  p {
    font-size: 1.3rem;
    margin: 0;
  }
}

.row-consultation {
  background-color: $smartData-color;
  color: #ffffff;
  p {
    font-size: 1.3rem;
    margin: 0;
  }
  a {
    color: #ffffff;
  }
  .links-consultation {
    flex: 1 0 30%;
    text-align: center;
  }
  .important-link {
    font-size: 1.7rem;
  }
}