---
# Ré-utilisation pages style
---

@import "variables";

h1, h3 {
  color: white;
}

#title {
  background: $backgroundBlue;
  color: #fff;
}

.logoAPI {
  margin-top: 0.5em;
}

.card-outils-utilise {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  img {
    width: 100%;
  }
}
