---
layout: default
additional_css: accompagnement
title: Accompagnement
---
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active text-dark" id="accompagne-tab" data-toggle="tab" href="#accompagne" role="tab"
             aria-controls="accompagne" aria-selected="true">Se faire accompagner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" id="autodidacte-tab" data-toggle="tab" href="#autodidacte" role="tab"
             aria-controls="autodidacte" aria-selected="false">Faire soi-même</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" id="combiencoute-tab" data-toggle="tab" href="#combiencoute" role="tab"
             aria-controls="combiencoute" aria-selected="true">Se faire accompagner</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row py-5">
    <div class="tab-content" id="myTabContent">

      <!--se faire accompagner-->
      <div class="tab-pane fade show active container" id="accopmpagne" role="tabpanel" aria-labelledby="accopmpagne-tab">
        <div class="row">
          <div class="col-12">
            <h1 class="blue mb-5">Se faire accompagner</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2 class="mb-3 blue">Un prestataire peut vous accompagner dans la réalisation de votre consultation </h2>

            Ce prestataire pourra :
            <ul class="list-unstyled ml-4"> 
              <li><i class="fas fa-dot-circle blue"></i> penser et organiser le projet de consultation, </li>
              <li><i class="fas fa-dot-circle blue"></i> paramétrer la plateforme de consultation, </li>
              <li><i class="fas fa-dot-circle blue"></i> gérer la consultation pour vous, </li>
              <li><i class="fas fa-dot-circle blue"></i> analyser les résultats </li>
              <li><i class="fas fa-dot-circle blue"></i> etc. </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="mt-5 col-md-8 col-12">
            <h2 class="blue">Comment choisir un prestataire</h2>
            <p>
              Mise en concurrence de 3 devis, marché public, procédure accélérée UGAP... le mode de recours à un prestataire dépend de multiples paramètres. Voici un guide pour vous y retrouver : 
            </p>
          </div>
          <div class="col-12">
            <img class="w-100 my-5" src="/img/schema-consultation.png" alt="schema comment organiser sa consultation citoyenne">
          </div>
          <div class="col-md-8 col-12">
            <p>
              La procédure UGAP est donc particulièrement adaptée si vous devez faire appel à un prestataire rapidement, même pour des montants supérieurs à 25 000€.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="mt-5 col-12">
            <h2 class="blue">Contacter l'UGAP</h2>
            <p>Notre partenaire UGAP vous permettra de faire appel à un prestataire en 1 mois, même pour les prestations de + de 25 000€ </p>
            <div class="logo-ugap d-flex justify-content-center flex-column mt-5">
              <a href="https://www.ugap.fr" target="_blank" class="mt-3 text-center">
                <img src="/img/ugap-slogant.jpg" alt="logo UGAP">
              </a>
              <a href="https://www.ugap.fr" target="_blank" class="mt-3 text-center">https://www.ugap.fr/</a>
              <div id="contact-ugap" class="mt-4 py-3">
                <h5>Contacter l'UGAP</h5>
                <span><img src="/img/icon-malentendants.jpg" alt="icon malentendants"> 0 811 702 703</span>
                <span>(prix d'un appel local depuis un post fixe)</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="my-5 col-12">
            <h2 class="blue">Contacter directement les éditeurs</h2>
            <p>Pour des montants inférieurs à 25 000€, vous pouvez contacter directement les éditeurs : </p>
          </div>
          <div class="col-12">
            <div class="ui container">
              <div class="ui four stackable cards">
                {% for outil in site.outil %} {% include outil-card-contact.html description=outil %} {% endfor %}
              </div>
            </div>
          </div>

      </div>

      <!--faire soi-même-->
      <div class="tab-pane fade container" id="autodidacte" role="tabpanel" aria-labelledby="autodidacte-tab">
        <div class="row">
          <div class="col-12">
            <h1 class="mb-5 blue">Documentation utile</h1>
            <h2 class="mb-3 blue">Bonne pratiques</h2>
            <ul class="list-unstyled ml-4">
              <li><i class="fas fa-dot-circle blue"></i> Guide du COEPIA :&nbsp;
                <a target="_blank" href="https://www.google.fr/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;ved=0ahUKEwi0x_mum8jWAhVKHxoKHffvB14QFggnMAA&amp;url=https%3A%2F%2Fwww.institutions-democratiques.gouv.qc.ca%2Finstitutions-democratiques%2Fdocuments%2Fcadre-ref-participation-publique.pdf&amp;usg=AFQjCNGuhf5DX1a3QpCi_jpnxzE5ICpxUA">
                  Consultations ouvertes sur internet organisées par les administrations</a>&nbsp;(Novembre 2016)</li>
              <li><i class="fas fa-dot-circle blue"></i>
                <a target="_blank" href="http://www.participation-et-democratie.fr/sites/default/files/charte_participation_du_public.pdf">
                  Charte de la participation du public</a></li>
              <li><i class="fas fa-dot-circle blue"></i> <a target="_blank" href="https://www.debatpublic.fr/">
                Commission nationale du débat public</a></li>
              <li><i class="fas fa-dot-circle blue"></i> <a target="_blank" href="http://www.participation-et-democratie.fr/">
                Démocratie et participation</a></li>
            </ul>
            <h2 class="mb-3 mt-5 blue">Tutoriels</h2>
            <p>Si vous voulez commencer à paramétrer vous-même votre consultation, voici les tutoriels existants
              pour l’instant :</p>
            <ul class="list-unstyled ml-4">
              <li><i class="fas fa-dot-circle blue"></i> <a href="/uploads/democracyOS.pdf" target="_blank">
                Premiers pas avec DemocracyOS </a></li>
              <li><i class="fas fa-dot-circle blue"></i> <a href="/uploads/Gouvernement&Citoyens.pdf" target="_blank">
                Premiers pas avec Gouvernement & Citoyen </a></li>
            </ul>
          </div>
        </div>
      </div>

<!--combien ça coûte ?-->
      <div class="tab-pane fade container" id="combiencoute" role="tabpanel" aria-labelledby="combiencoute-tab">
        <div class="row">
          <div class="col-12">
            <h1 class="mb-5 blue">Combien coûtent les prestations ?</h1>         
            <h2 class="mb-3 mt-5 blue">Nous centralisons les </h2>
            <p>Nous partagerons avec plaisir notre </p>
            <h2 class="mb-3 mt-5 blue">Données des marchés publics</h2>
            <p> Une partie des données des marchés publics, incluant les démarches de participation et de consultation, sont bientôt disponibles en <i>OpenData</i> sur : </p>
            <a href="www."></a>
            <p> Un portail de data visualisation est en cours de développement afin de vous permettre de mieux comprendre le marché des civic tech. Il sera disponible sur cette page, <i> stay tuned !</i> </p>
          </br>
          <p> L'équipe d'Etalab </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    $(function () {
        var activeTab = $(location.hash)
        if (activeTab.length > 0) {
            var activeLink = $(location.hash + '-tab')
            $('.tab-pane').removeClass('active show')
            activeTab.addClass('active show')
            $('.nav-link').removeClass('active').attr('aria-selected', false)
            activeLink.addClass('active')
            activeLink.attr('aria-selected', true)
        }
        window.scrollTo(500, 0)
    });
</script>