---
layout: default_ditp
additional_css: catalogue
---
<div id="catalogue">
  <div class="row">
    <h1 class="blue mt-5 mb-3">Trouver une démarche participative qui me concerne</h1>
    <div class="col-12 d-flex align-items-end">
        <div class="mb-3 ml-5">
        <button class="btn btn-primary btn-add-consutlation">
          <a target="_blank" href="https://framaforms.org/enregistrer-sa-consultation-au-catalogue-des-consultations-publiques-1551266276">Ajouter une démarche au catalogue</a>
        </button>
      </div>
      <div class="mb-3 ml-5">
        <button class="btn btn-primary btn-add-consutlation">
          <a target="_blank" href="https://airtable.com/shrZJ8XgkvQqrUVpj">Recevoir une notification quand une démarche me concerne </a>
          <i class="fas fa-bell"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group row my-3">
    <div class="col-sm-4">
      <input id="search" name="search" placeholder="Recherche rapide" type="text" data-list=".list" class="form-control" >
    </div>
    
    <!-- filtre spécial -->
    <div class="form-group col-md-2">
      <select name="outils" id="outils" class="form-control" data-list=".list" >
        <option value="">Sélectionner un outils</option>
        {% for outil in site.outil %}
          <option value='{{ outil.title }}'>{{ outil.title }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- fin filtre spécial -->

  </div>
  <div class="row list" id="results">
    {% for usage in site.usage %}
    {% if usage.in_progress %}
    {% include exemple-card.html usage=usage en-savoir-plus=true %}
    {% endif %}
    {% endfor %}
  </div>
</div>

  
</script>