---
layout: default
additional_css: homepage
---
<section id="mission-statement">
  <div class="ui container three column stackable grid">
      <div class="column"><img class="ui image" src="/img/illu-comment-faire.png" alt="Pourquoi utiliser " />Sed statuerimus loquimur et amicis quidquid numero amicis ante quos iis sapientiam ab aut ab.</div>
      <div class="column"><img class="ui image" src="/img/illu-pourquoi-outils.png" alt="Une API connecte des services à la puissance d'internet" />Sed statuerimus loquimur et amicis quidquid numero amicis ante quos iis sapientiam ab aut ab.</div>
      <div class="column"><img class="ui image" src="/img/illu-comment-utiliser.png" alt="Une API connecte des services à la puissance d'internet" />Sed statuerimus loquimur et amicis quidquid numero amicis ante quos iis sapientiam ab aut ab.</div>
  </div>
</section>

<section id="apis">
  <div class="ui container">
    <h2>Comment faire une bonne consultation en ligne ?</h2>
    &nbsp;«&nbsp;Les consultations ouvertes sur internet constituent un outil de participation du public à l’élaboration des décisions. Pour être utiles, tant pour l’administration que pour le public, elles doivent être utilisées de façon ciblées, en y consacrant des moyens suffisants, dans le respect de la déontologie qui doit accompagner tout processus d’élaboration d’une décision publique&nbsp;»
    <p><a href="http://www.gouvernement.fr/sites/default/files/contenu/piece-jointe/2016/12/coepia_consultations_ouvertes_sur_internet_2016.pdf">Rapport du COEPIA sur les Consultations ouvertes sur internet organisées par les administrations.</a></p>
    
    <a class="ui button moreButton" href="/bonnes-pratiques.html">Les bonnes pratiques</a>
  </div>
</section>

<section id="usages" class="ui container">
  <h2>Découvrez les outils de consultation<br></h2>

    <div class="ui four stackable cards">
        {% for outil in site.outil %}
        {% include outil-card.html description=outil %}
        {% endfor %}
    </div>
</section>

<section id="description" class="ui container">
    <h2>Comment utiliser ces outils ?</h2>
   
    <p>Les outils de consultation présentés sur cette plateforme peuvent être déployés gratuitement sous 48h. Ils répondent tous à des critères de sécurités et d’usages adaptés aux administrations. <br></p> 
    <a class="ui button moreButton" href="/apropos.html">En savoir plus</a>
</section>
