---
layout: default
additional_css: outil
---
<section id="list" class="ui container main">
	<h2>Les outils de consultation proposés</h2>
	<div class="ui four stackable cards">
		{% for outil in site.outil %}
			{% include outil-card.html description=outil %}
		{% endfor %}<br><p><br></p></div>
</section>



<section id="notre-plateforme">
  <h2> La Plateforme : créez votre consultation en ligne</h2>
  
</section>

<section id="espace-1">
  <div class="ui container espace-des">
    <div class="ui grid stackable">
      <div class="height wide column">
        <h2>1. Sélectionnez l'outil <br></h2><p>Étudiez attentivement la documentation mise à disposition par les éditeurs de logiciel et consultez les cas d'usage. N'hésitez pas à nous contacter ou à contacter les éditeurs. Vous pouvez aussi déployer gratuitement les outils pour les tester. <br></p><h2>2. Remplissez le formulaire</h2>
        <p>Une fois l'outil choisi, rendez-vous sur la page de l'outil et cliquez sur "<i>Utilisez</i>" dans le bandeau en haut de la page. <br> </p><p>Définissez l’URL et le nom de votre consultation et entrez vos informations personnelles (nom, prénom, administration).
          <br> Saisissez votre adresse e-mail. À noter que seules les adresses de l’administration centrale (.gouv.fr) sont
          acceptées pour l’instant.</p><p>Cette démarche vous permet de demander la création, sous 48h, d'une base de données et d'une instance de consultation, hébergées chez l'éditeur de solution, auxquelles vous seul aurez accès. <br></p>
      </div>
      <div class="height wide column">
        <img class="espace-illustration" src="/img/espace-1.svg" alt="Illustration Consultation">
      </div>
    </div>
  </div>
</section>

<section id="espace-2">
  <div class="ui container espace-des">
    <div class="ui grid stackable">
      <div class="height wide column">
        <img class="espace-illustration" src="/img/espace-2.svg" alt="Illustration Plateforme">
      </div>
      <div class="height wide column">
        <h2>3. Validez votre adresse e-mail</h2>
        <p> Vous allez rapidement recevoir un e-mail de confirmation. Il faut bien vérifier que cet e-mail ne soit pas dans
          vos spams.
          <br> Cliquez sur le lien mentionné sur l’e-mail pour valider votre adresse.</p>
      </div>
    </div>
  </div>
</section>

<section id="espace-3">
  <div class="ui container espace-des">
    <div class="ui grid stackable">
      <div class="height wide column">
        <h2>4. Créez votre consultation !</h2>
        <p> La plateforme va mettre en place la base de données de votre consultation. Le délai de déploiement peut prendre
          jusqu’à 48h.
          <br>Vous recevrez un e-mail lorsque la base de données sera prête et l'instance de consultation déployée. Vous pouvez commencer à prendre en main l'outil.<br></p><p><br></p>
      </div>
      <div class="height wide column">
        <img class="espace-illustration" src="/img/espace-3.svg" alt="Illustration Consultation">
      </div>
    </div>
  </div>
</section>