---
layout: default
additional_css: trophes
---
<div id="catalogue">
  <div class="row">
    <div class="col-12">
      <h1 class="blue mt-5 mb-3">Les meilleures consultations</h1>
    </div>
  </div>
  <div class="row">
    {% for usage in site.usage %}
    {% if usage.in_progress %}
    {% include trophes-card.html usage=usage %}
    {% endif %}
    {% endfor %}
  </div>
  <div class="row row my-3 p-4 text-center gray-background footer-trophes d-flex align-items-center">
    <div class="col-md-8 col-12 blue">
      <h3>Participez à la soirée de remise des trophées de la consultation&nbsp!</h3>
    </div>
    <div class="col-md-4 col-12">
      <a href="https://www.deciderensemble.com/page/9393-nos-evenements" class="btn btn-light mb-2" >S'inscrire à l'événement</a>
      <a href="https://www.deciderensemble.com/page/9348-presentation" class="btn btn-light" >Soumettre un dossier</a>
    </div>
  </div>
</div>