<footer>
  <div class="container">
    <div class="row p-4 border-top border-secondary">
      <div class="col-md-4 col-6 d-flex align-items-center flex-column">
        <img src="/img/logo-ditp.png" alt="Logo de la DITP" class="img-fluid">
        <div class="row d-flex justify-content-around align-items-center">
          <a href="https://www.numerique.gouv.fr/" class="col-6" target="_blank"><img src="/img/logo-minister-comptes-publics.png" alt="logo du Ministère des Comptes Publics"></a>
        </div>
      </div>
      <div class="col-md-2 col-6">
        <ul class="list-unstyled">
            {% for item in site.data.nav-menu.top %}
          <li class="mb-1">
            <a href="{{ item.link }}" class="text-dark">
              {{ item.name }}</a>
          </li>
            {% endfor %}
            {% for item in site.data.nav-menu.bottom %}
          <li class="mb-1">
            <a href="{{ item.link }}" class="text-dark">
              {{ item.name }}</a>
          </li>
            {% endfor %}
        </ul>
      </div>
      <div class="col-md-3 col-6">
        <ul class="list-unstyled">
          {% for item in site.data.footer.troisieme %}
          <li class="mb-1">
            <a href="{{ item.link }}" class="text-dark">
              {{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-3 col-6">
        <ul class="list-unstyled">
          {% for item in site.data.footer.quatrieme %}
          <li class="mb-1">
            <a href="{{ item.link }}" target="_blank" class="text-dark">
              {{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
