<div class="col-md-3 col-sm-6 col-12 mb-2">
  <div class="card outil-card">
    <a class="h-100 text-dark d-flex flex-column" href="{{ include.description.url }}">
      <div class="card-img card-body d-flex align-items-center gray-background justify-content-center">
        <img class="img-fluid" src="/img/{{ include.description.logo }}" alt="logo de {{ include.description.title }}"/>
      </div>
      <div class="card-body">
        <h3 class="blue">{{ include.description.title }}</h3>
        <div class="meta">
          {{ include.description.contact}}
        </div>
      </div>
    </a>
  </div>
</div>