<div class="col-md-3 col-sm-6 col-12">
  <div class="card outil-card">
    <a class="h-100 text-dark d-flex flex-column" href="{{ include.description.url }}">
      <div class="card-img card-body d-flex align-items-center gray-background justify-content-center">
        <img class="img-fluid" src="/img/{{ include.description.logo }}" alt="logo de {{ include.description.title }}">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ include.description.title }}</h5>
        <p class="card-text">{{ include.description.tagline }}</p>
      </div>
    </a>
    <div class="card-body pt-0 d-flex align-items-end justify-content-between">
      <a class="link blue" href="{{ include.description.url }}">En savoir plus</a>
      <a href="{{ include.description.access_link }}" class="text-light btn btn-primary">Essayer</a>
    </div>
  </div>
</div>
