<div class="ui card">
	<div class="content">
		<h3>
			<a class="header blue" href="{{ include.usage.url }}">{{ include.usage.title }}</a>
		</h3>
		<div class="meta">
			{{ include.usage.description }}
		</div>
	</div>
	<div class="image">
		<div>
			<a href="{{ include.usage.url }}">
				<img src="/img/{{ include.usage.screenshot }}" alt="">
			</a>
		</div>
	</div>
	<div class="extra content">
		Outil utilisée{% if include.usage.outil.size > 1 %}s{% endif %}&nbsp;:
		{% for outilName in include.usage.outil %}
		{% assign outil = site.outil | where: "title", outilName | first %}
			<a class="ui label" href="{{ outil.url }}"> {{ outil.title }}</a>
		{% endfor %}
	</div>
</div>
