@import "variables";

.blue-button {
  color: $bleu;
  box-shadow: 3px 3px 0px 0px $bleu;
  border: 3px solid $bleu;
  padding: 0.5em 0.7em;
  font-size: 1.4em;
  background-color: white;
  &:hover {
    color: $bleu;
  }
  @media (max-width: 1000px) {
    font-size: 1em;
  }
}

.btn-link {
  color: $vert;
}

.btn-primary {
  background-color: $bleu;
  color: white !important;
  border: none;
  &:hover, &:active, &:focus {
    border: none !important;
    box-shadow: none !important;
    background-color: $btn-hover !important;
  }
}

.btn-outline-primary {
  color: $bleu;
  background-color: transparent;
  background-image: none;
  border-color: $bleu;
  &:hover, &:active, &:focus {
    color: #fff;
    background-color: $bleu;
    border-color: $bleu;
  }
}
