.outil-card {
  height: 100%;
  .link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  a {
    text-decoration: none;
  }
  .card-img {
    flex: 0 0 40%;
    max-height: 40%;
    img {
      height: auto;
      width: inherit;
      min-width: auto;
      max-height: 100%;
      max-width: 60%;
      margin: auto;
    }
  }
  &:hover {
    border-color: $simulation-color;
  }
}

.card-exemple {
  height: 100%;
  .card-header {
    a {
      text-decoration: none;
      color: $simulation-color;
    }
  }
  .card-body {
    background-color: #F2F2F2;
    height: 18rem;
    a {
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .card-footer {
    .more {
      color: $simulation-color;
    }
  }
  img {
    height: auto;
    width: inherit;
    min-width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }
}