.row-icons {
  padding: 2rem;
  i {
    font-size: 7rem;
  }
  p {
    margin-top: 1rem;
  }
}

.cols-icon {
  p {
    font-size: 1.5rem;
  }
}
.col-text {
  font-size: 1.3rem !important;
}

.row-support {
  i {
    font-size: 4rem;
  }
  p {
    font-size: 1.3rem;
    margin: 0;
  }
}

#logo-data {
  width: 21rem;
}

.img-team {
  border-radius: 50%;
  height: 10rem;
}

.row-hover {
  transition: ease 0.3s;
  &:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
}
