.bleu {
  color: $bleu
}
.vert {
  color: $vert;
}
.green-background {
  background: $vert;
}

.purple-background {
  background: $violet-pale;
}

.pt-10 {
  padding-top: 10rem !important;
}

.container-kit-cadrage {
  text-align: center;
  display: flex;
}

.kit-cadrage {
  background-color: #EEEEEE;
  border-radius: 50%;
  height: 13.5em;
  width: 13.5em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em;
  i {
    font-size: 4em;
    margin-bottom: 0.3em;
  }
}
