$confidential-color: #10C6B0;
$reference-color: #23B0B7;
$simulation-color: #28A7D0;
$smartData-color: #1E4C8E;
$usage-color: #AF2341;
$main-color: #275166;
$btn-hover: #2296BB;

$black: #000000;
$gray-background: #EEEEEE;
$gray: #585858;

$backgroundBlue: linear-gradient($simulation-color, lighten($simulation-color, 10%));
