// Charte DITP
$bleu: rgb(46, 44, 125);
$bleu-80: rgba(46, 44, 125, 0.80);
$rouge: #E20914;
$jaune: rgb(254, 235, 23);
$jaune: rgb(254, 235, 23);
$vert: rgb(4, 162, 154);
$bleu-vert: rgb(117, 198, 197);
$violet-pale: rgb(233, 234, 244);
$violet: rgb(93, 49, 119);
$violet-80: rgba(93, 49, 119, 0.81);

$backgroundBlue: linear-gradient($bleu, lighten($bleu, 10%));

$btn-hover: rgba(46, 44, 125, 0.8);

$black: #101010;
$gray-background: #EEEEEE;
$gray: #585858;

$large: 1400px;
$medium: 1200px;
$small: 768px;
