<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="wrapper">
      <div id="page">
        <header>

          <nav class="navbar d-flex justify-content-start ">
            <a class="navbar-brand site-name" href="/index.html">
              <img id="header-marianne" alt="Brand" src="/img/marianne.svg" width="96" height="60"></a>
            <a href="/index.html" class="ml-1 div-titre">
              <div class="site-name"><i class="bleu">agents.</i>participation-citoyenne.gouv.fr</div>
              <div class="low font-italic">
                Concevez des démarches participatives de qualité
              </div>
            </a>

            <div class="autres-liens flex-column justify-content-end align-items-center d-none d-lg-flex">
              <div class="mb-1 d-flex align-items-center justify-content-around">
                <i class="fas fa-phone-volume logo-telephone"></i>
                <a href="/contact.html">Se faire accompagner<br>par nos équipes</a>
              </div>
            </div>

            <div class="mr-2 text-right flex-grow-1 dropdown d-lg-none">
              <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2 w-100">
                {% for item in site.data.nav-menu %}
                <a href="{{ item.link }}" class="dropdown-item p-1">
                  {{ item.name }}</a>
                {% endfor %}
                <a href="/contact.html" class="vert">Se faire<br> accompagner</a>
              </div>
            </div>
          </nav>
          <nav id="menu-haut" class="row justify-content-between d-none d-lg-flex">
            {% for item in site.data.nav-menu %}
            <a href="{{ item.link }}" class="p-1 {% if page.title == item.name %}font-weight-bold {% endif %}">{{ item.name }}</a>
            {% endfor %}
          </nav>
        </header>

        <main class="pt-8 mt-5 mb-3" {% if page.nom %} id="{{ page.nom }}" {% endif %}>
        <img id="bandeau-beta" src="/img/bandeau-beta.png" alt="bandeau site en beta">
        {{ content }}
        </main>
        {% include footer.html %}
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
