<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <div id="wrapper">
      <div id="page">
        <header>
          <nav class="ui container secondary menu">
            <a class="header item" id="logo" href="/">consultation.gouv.fr</a>
            <!--<a class="medium screen only item" href="/apis">Liste des outils</a>-->
            <!--<a class="medium screen only item" href="/services">Liste des cas services</a>-->
            {% for item in site.data.topmenu %}
                    <a href="{{ item.link }}" class="header item medium">{{ item.name }}</a>
            {% endfor %}
          </nav>
        </header>
        <main{% if page.nom %} id="{{ page.nom }}" {% endif %}>
          {{ content }}
        </main>
        {% include footer.html %}
      </div>
    </div>
    <script>
    $('.ui.dropdown').dropdown();
    </script>
    {% include analytics.html %}
  </body>
</html>
