---
layout: default
additional_css: usage_citoyens
---
<div id="title" class="row py-5 " {% if page.img-bg %} style="background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(/img/{{ page.img-bg }}.jpg);" {% endif %}>
  <div class="offset-md-1 text-center col-md-10 col-12 d-flex justify-content-center flex-column align-items-center">
    <h1 class="m-0">
      {{ page.title }}
    </h1>
    <h3 class="my-4">
      {{ page.date-banniere }}
    </h3>
    <div>
      {% if page.link %}
      <a class="btn btn-outline-light mr-2" href="{{ page.link }}" rel="noopener" target="_blank">
        Voir la consultation &nbsp;&nbsp;<i class="rocket icon"></i>
      </a>
      {% endif %}
      {% if page.opendata %}
      <a class="btn btn-outline-light mr-2" href="{{ page.opendata }}" rel="noopener" target="_blank">
        Accéder aux données en OpenData &nbsp;&nbsp;<i class="rocket icon"></i>
      </a>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="accordion mt-5" id="accordionCatalogue">
    <div class="">
      <div class="" id="headingOne">
        <h2 class="mb-0 {% unless page.message_sponsor %} desactive {% endunless %}">
          <button class="titre-section" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <img src="/img/citoyens/icons/tete-hexagone.png" alt="icone tête de personnage">
            Message du sponsor
          </button>
        </h2>
      </div>
      {% if page.message_sponsor %}
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionCatalogue">
        <div class="card-body">
          {{ page.message_sponsor }}
        </div>
      </div>
      {% endif %}
    </div>

    <div class="">
      <div class="" id="headingTwo">
        <h2 class="mb-0">
          <button class="titre-section {% unless page.presentation %} desactive {% endunless %}" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <img src="/img/citoyens/icons/carte-hexagone.png" alt="icone carte">
            Présentation & contexte
          </button>
        </h2>
      </div>
      {% if page.presentation %}
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionCatalogue">
        <div class="card-body">
          {{ page.presentation }}
        </div>
      </div>
      {% endif %}
    </div>

    <div class="">
      <div class="" id="headingThree">
        <h2 class="mb-0">
          <button class="titre-section {% unless page.engagements %} desactive {% endunless %}" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <img src="/img/citoyens/icons/mains-hexagone.png" alt="icone poigné de mains">
            Engagements vis à vis du participant
          </button>
        </h2>
      </div>
      {% if page.engagements %}
      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionCatalogue">
        <div class="card-body">
          {{ page.engagements }}
        </div>
      </div>
      {% endif %}
    </div>

    <div class="">
      <div class="" id="headingFour">
        <h2 class="mb-0">
          <button class="titre-section {% unless page.dispositif %} desactive {% endunless %}" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <img src="/img/citoyens/icons/jumelles-hexagone.png" alt="icone jumelles">
            Dispositif employé
          </button>
        </h2>
      </div>
      {% if page.dispositif %}
      <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionCatalogue">
        <div class="card-body">
          {{ page.dispositif }}
        </div>
      </div>
      {% endif %}
    </div>

    <div class="">
      <div class="" id="headingFive">
        <h2 class="mb-0">
          <button class="titre-section {% unless page.resultats %} desactive {% endunless %}" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <img src="/img/citoyens/icons/main-hexagone.png" alt="icone main qui montre du doigt">
            Résultats de la démarche
          </button>
        </h2>
      </div>
      {% if page.resultats %}
      <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionCatalogue">
        <div class="card-body">
          {{ page.resultats }}
        </div>
      </div>
      {% endif %}
    </div>

    <div class="">
      <div class="" id="headingSix">
        <h2 class="mb-0">
          <button class="titre-section collapsed {% unless page.le_mot_du_sponsor %} desactive {% endunless %}" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <img src="/img/citoyens/icons/bulle-hexagone.png" alt="icone main qui montre du doigt">
            Le mot du sponsor
          </button>
        </h2>
      </div>
      {% if page.le_mot_du_sponsor %}
      <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordionCatalogue">
        <div class="card-body">
          {{ page.le_mot_du_sponsor }}
        </div>
      </div>
      {% endif %}
    </div>

    <div class="">
      <div class="" id="headingSeven">
        <h2 class="mb-0">
          <button class="titre-section collapsed {% unless page.annexes %} desactive {% endunless %}" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <img src="/img/citoyens/icons/ordinateur-hexagone.png" alt="icone main qui montre du doigt">
            Annexes
          </button>
        </h2>
      </div>
      {% if page.annexes %}
      <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionCatalogue">
        <div class="card-body">
          {{ page.annexes }}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
