---
layout: default_citoyens
additional_css: participez_citoyens
title: "Participez"
---
<div class="row bandeau-haut-de-page">
  <h1>Participez aux démarches en cours</h1>
</div>

<div class="row" id="bandeau-recherche">
  <div class="container d-flex flex-column align-items-center">
    <div class="row" id="barre-recherche">
      <div class="col-md-8 col offset-md-2">
        <input id="search" name="search" placeholder="Ma ville, mon code postal, mon centre d'intérêt ...." type="text" data-list=".list" class="form-control" >
        <i class='fas fa-search'></i>
      </div>
    </div>
  </div>
</div>

<div class="row list" id="results">
  {% assign usages = site.usage_citoyens | sort: 'ordre' | reverse %}
  {% for usage in usages %}
  {% include citoyen-card.html usage=usage %}
  {% endfor %}
</div>

<script src="https://cdn.rawgit.com/vdw/HideSeek/master/jquery.hideseek.min.js"></script>
<script>
$(document).ready(function() {
  $('#search').hideseek({
    nodata: 'Aucun résultat trouvé pour cette recherche',
    ignore_accents: true
  })
  $('#outils').on('change', function() {
    var e = jQuery.Event("keydown");
    e.which = 90; // # Some key code value
    $('#outils').trigger(e);
  })
  $('#outils').hideseek({
    nodata: 'Aucun résultat trouvé pour cette recherche',
    ignore_accents: true,
    navigation: true
  });
});
</script>
